# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Alembic cache 
alembic/__pycache__/
alembic/versions/__pycache__/

# Logs
*.log
